<div class="settings-sidebar" [class.collapsed]="isCollapsed">

  <!-- Toggle Collapse -->
  <div class="sidebar-toggle" (click)="isCollapsed = !isCollapsed">
    <i class="isax" [ngClass]="isCollapsed ? 'isax-arrow-right-2' : 'isax-arrow-left-2'"></i>
  </div>

  <ul class="main-menu">

    <!-- ================= TABLEAU DE BORD ================= -->
    <li class="menu-item">
      <a [routerLink]="routes.students_Dashboard" routerLinkActive="active">
        <i class="isax isax-grid-35"></i>
        <span>Tableau de bord</span>
      </a>
    </li>

    <!-- ================= MES FORMATIONS ================= -->
    <li class="menu-item has-submenu">
      <a>
        <i class="isax isax-play-circle"></i>
        <span>Mes formations</span>
        <i class="submenu-arrow isax isax-arrow-right-3"></i>
      </a>

      <ul class="submenu">
        <li><a [routerLink]="routes.studentMyCourses">Formations en cours</a></li>
        <li><a [routerLink]="routes.student_Certificate">Formations en attente</a></li>
        <li><a >Formations Terminées</a></li>
        <li><a>Formations Obligatoires</a></li>
        <li><a>Parcours assignés</a></li>
      </ul>
    </li>

    <!-- ================= CATALOGUE ================= -->
    <li class="menu-item has-submenu">
      <a>
        <i class="isax isax-book"></i>
        <span>Catalogue</span>
        <i class="submenu-arrow isax isax-arrow-right-3"></i>
      </a>

      <ul class="submenu">
        <li><a [routerLink]="routes.studentCourses">Catalogue complet</a></li>
        <li><a [routerLink]="routes.student_Certificate">Demande formation</a></li>
        <!--<li><a>Recommandations IA</a></li>-->
      </ul>
    </li>

    <!-- ================= PERFORMANCE ================= -->
    <li class="menu-item has-submenu">
      <a>
        <i class="isax isax-chart"></i>
        <span>Mes performances</span>
        <i class="submenu-arrow isax isax-arrow-right-3"></i>
      </a>

      <ul class="submenu">
        <li><a>Classement</a></li>
        <li><a [routerLink]="routes.studentQuiz">Scores & Quiz</a></li>
        <li><a>Taux complétion</a></li>
        <li><a>Compétences</a></li>
      </ul>
    </li>

    <!-- ================= PROFIL ================= -->
    <li class="menu-item has-submenu">
      <a>
        <i class="isax isax-user"></i>
        <span>Mon profil</span>
         <i class="submenu-arrow isax isax-arrow-right-3"></i>
      </a>
       <ul class="submenu">
        <li><a  [routerLink]="routes.students_profile">Informations personnelles</a></li>
        <li><a >Compétences déclarées</a></li>
         <li><a>Historique d’activité</a></li>
          <li><a>Paramètres de notification</a></li>
          
        
      </ul>
    </li>

    <!-- ================= Planning ================= -->
    <li class="menu-item has-submenu">
      <a [routerLink]="routes.students_tickets">
        <i class="isax isax-ticket"></i>
        <span>Mon planning</span>
         <i class="submenu-arrow isax isax-arrow-right-3"></i>
      </a>
       <ul class="submenu">
        <li><a> Formations présentielles planifiées</a></li>
        <li><a >Webinaires à venir</a></li>
         <li><a>Sessions passées</a></li>
          <li><a>Nouvelles Invitations reçues</a></li>
          
        
      </ul>
    </li>

    <!-- ================= FAQ ================= 
    <li class="menu-item has-submenu">
      <a [routerLink]="routes.students_tickets">
        <i class="isax isax-ticket"></i>
        <span>FAQ</span>
         <i class="submenu-arrow isax isax-arrow-right-3"></i>
      </a>
       <ul class="submenu">
        <li><a> Forums</a></li>
        <li><a >Questions aux formateurs</a></li>
         <li><a>Sessions passées</a></li>
          <li><a>Nouvelles Invitations reçues</a></li>
          
        
      </ul>
    </li> 
    -->

    <!-- ================= AIDE ================= -->
    <li class="menu-item has-submenu">
      <a [routerLink]="routes.students_tickets">
        <i class="isax isax-ticket"></i>
        <span>Centre d'aide</span>
         <i class="submenu-arrow isax isax-arrow-right-3"></i>
      </a>
       <ul class="submenu">
        <li><a >Premiers pas sur la plateforme</a></li>
        <li><a >Guide d’utilisation</a></li>
         <li><a>Tutoriels vidéo</a></li>
          <li><a>Supports et Tickets</a></li>
          
        
      </ul>
    </li>

     

    <!-- ================= LOGOUT ================= -->
    <li class="menu-item has-submenu" logout>
      <a [routerLink]="routes.login">
        <i class="isax isax-logout"></i>
        <span>Déconnexion</span>
      </a>
    </li>

  </ul>

</div>
