<div class="settings-sidebar">
    <div>
        <h6 class="mb-3">Menu Général</h6>
        <ul class="mb-3 pb-1">
            <li>
                <a [routerLink]="routes.students_Dashboard" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-grid-35 me-2"></i>Tableau de Bord</a>
            </li>
            <li>
                <a [routerLink]="routes.students_profile" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="fa-solid fa-user me-2"></i>Mon Profile</a>
            </li>
            <li>
                <a [routerLink]="routes.studentCourses" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-teacher5 me-2"></i>Formations Disponible</a>
            </li>
            <li>
                <a [routerLink]="routes.student_Certificate" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-note-215 me-2"></i>Mes Certificates</a>
            </li>
            <li>
                <a [routerLink]="routes.studentWishlist" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-heart5 me-2"></i>Mes Favoris</a>
            </li>
            <li>
                <a [routerLink]="routes.studentReviews" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-star5 me-2"></i>Forum</a>
            </li>
            <li>
                <a [routerLink]="routes.studentQuiz" class="d-inline-flex align-items-center" [class.active]="page==='student-quiz'||page==='student-quiz-questions'"><i class="isax isax-award5 me-2"></i>Mes Quiz</a>
            </li>
            
            <li>
                <a [routerLink]="routes.studentsMessage" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-messages-35 me-2"></i>Messages</a>
            </li>
            <li>
                <a [routerLink]="routes.students_tickets" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-ticket5 me-2"></i>Supports et Tickets</a>
            </li>
        </ul>
        <hr>
        <h6 class="mb-3">Paramettrage du compte</h6>
        <ul>
            <li>
                <a [routerLink]="routes.studentSettings" class="d-inline-flex align-items-center" [class.active]="last==='student-settings'||last==='student-change-password' ||last==='student-social-profile' || last==='student-linked-accounts' || last==='student-notifications' || last==='student-billing-address'" ><i class="isax isax-setting-25 me-2"></i>Pramettres</a>
            </li>
            <li>
                <a [routerLink]="routes.login" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-logout5 me-2"></i>Déconnexion</a>
            </li>
        </ul>
    </div>
</div>